@model IEnumerable<PetCommunity.Models.Specie>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}



<div class="card shadow mb-4">
    <div class="card-header py-3">
        <p>
            <a asp-action="Create" class="btn btn-primary">
                <i class="fas fa-plus"></i>
                Create New
            </a>
        </p>
    </div>
    <div class="card-body">
        <div class="table-responsive">


            <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">


                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PetsType)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PetsType.Name)
                            </td>
                            <td>
                                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-edit" aria-hidden="true"></i></a>
                                <a class="btn btn-success" asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-th-list" aria-hidden="true"></i></a>
                                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
</div>





